@import "tailwindcss"; /* tailwind 核心 */

@layer theme, base, components, utilities; /* 层顺序 */

@import "./theme.css" layer(theme);
@import "./components.css" layer(components);
@import "./utilities.css" layer(utilities);

@layer base {
  /* root/html */
  :root {
    min-width: 320px;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
  }

  /* body */
  body {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--color-text);
    font-family:
      Poppins,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
  }

  /* 默认滚动条样式 */
  ::-webkit-scrollbar {
    display: none;
  }

  img {
    user-select: none;
    pointer-events: none;
  }
}
