@theme {
  --color-basic-100: #ffffff;
  --color-basic-200: #f7f9fc;
  --color-basic-300: #edf1f7;
  --color-basic-400: #e4e9f2;
  --color-basic-500: #c5cee0;
  --color-basic-600: #8f9bb3;
  --color-basic-700: #2e3a59;
  --color-basic-800: #222b45;
  --color-basic-900: #1a2138;
  --color-basic-1000: #151a30;
  --color-basic-1100: #101426;

  --color-primary-100: #f2fae4;
  --color-primary-200: #e2f6ca;
  --color-primary-300: #c6e6a8;
  --color-primary-400: #a5cd88;
  --color-primary-500: #7bad5f;
  --color-primary-600: #5c9445;
  --color-primary-700: #417c2f;
  --color-primary-800: #2a641e;
  --color-primary-900: #195312;

  --color-info-100: #dcebfe;
  --color-info-200: #bad5fe;
  --color-info-300: #98bdfd;
  --color-info-400: #7ea8fb;
  --color-info-500: #5486f9;
  --color-info-600: #3d66d6;
  --color-info-700: #2a4bb3;
  --color-info-800: #1a3390;
  --color-info-900: #102277;

  --color-success-100: #d9fcde;
  --color-success-200: #b4fac4;
  --color-success-300: #8cf1ae;
  --color-success-400: #6de3a0;
  --color-success-500: #40d18d;
  --color-success-600: #2eb382;
  --color-success-700: #209676;
  --color-success-800: #147968;
  --color-success-900: #0c645e;

  --color-warning-100: #fff6d0;
  --color-warning-200: #ffeba1;
  --color-warning-300: #ffdd73;
  --color-warning-400: #ffcf50;
  --color-warning-500: #ffb916;
  --color-warning-600: #db9710;
  --color-warning-700: #b7790b;
  --color-warning-800: #935c07;
  --color-warning-900: #7a4804;

  --color-danger-100: #ffebda;
  --color-danger-200: #ffd2b5;
  --color-danger-300: #ffb490;
  --color-danger-400: #ff9675;
  --color-danger-500: #ff6647;
  --color-danger-600: #db4333;
  --color-danger-700: #b72623;
  --color-danger-800: #93161e;
  --color-danger-900: #7a0d1c;
}
