@theme {
  /* 主题色、主题色文本 */
  --color-primary: #3dd598;
  --color-primary-content: #ffffff;

  /* 次主题色、次主题色文本 */
  --color-secondary: #ff565e;
  --color-secondary-content: #ffffff;

  /* 文本色 */
  --color-text: #2e3a59;
  /* 文本辅助色 */
  --color-text-secondary: #606b88;

  /* 背景色 */
  --color-background: #edf1fa;
  /* 表色 */
  --color-surface: #ffffff;

  /* 阴影色 */

  /* 边框色 */
}
